
.item-body{
  position: relative;
  background-color: white;
  margin-top: 500px;
  padding-bottom: 80px;
  .body-header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 70px;
    top: 80px;
    background-color:white;
    z-index: 2;
    box-shadow: 1px 0 10px -5px #a5a5a5;
    position: sticky;
    position: -webkit-sticky;
    .body-menu{
      display: flex;
      align-items: center;
      width: 90%;
      flex-grow: 0;
      flex-basis: 90%;

      //display: flex;
      //align-items: center;
      //width: 100%;
      //height: 100%;
      //padding-left: 40px;

    }
  }
  .items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .items-contain{
      flex-grow: 0;
      width: 90%;
      flex-basis: 90%;
      .header-title{
        font-size: 20px;
        font-weight: 700;
      }
      .scroll-list{
        padding-right: 30px;
        height: 1px;
        background-color: #d7d7d7;
        margin: 10px 0 20px;
      }
      .carousel-box{
        display: flex;
        align-items: center;
        position: relative;
      }

      .list-card-in{

        &:before, &:after{
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-color: #FF0000;
          border-style: solid;
          border-width: 0;
           transition:all .5s cubic-bezier(1,.2,.26,.7);
           transform:translate(0px, 0px) scale(.8);
          opacity: 0;
        }
        &:before{
          left: 0;
          bottom: 0;
          border-bottom-width: 1px;
          border-left-width: 1px;
        }
        &:after{
          top: 0;
          right: 0;
          border-top-width: 1px;
          border-right-width: 1px;
        }
        &:hover{
          &:before, &:after{
             transition:all 2s cubic-bezier(.14,1.13,0,.91);
            opacity: 1;
          }
          &:before{
             transform:translate(-30px, 20px) scale(1);
            border-bottom-width: 12px;
            border-left-width: 12px;
          }
          &:after{
          transform:translate(30px, -20px) scale(1);
            border-top-width: 12px;
            border-right-width: 12px;
          }
        }
      }


      .arrow-carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        background-color: #026764;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color:white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      &.carousel-right{
        right:0
      }
        &.carousel-left{
        left: 0;
        }
      }


      .list-card-in{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        height: 100%;
        .image-list{
          border-radius: 5px;
          height: 221px;
          position: relative;
          overflow: hidden;
          width: 100%;
          margin-bottom: 10px;
          img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .item-list-detail{
          flex-grow: 1;
          flex-wrap: nowrap;
          padding: 5px 4px;
          width: 100%;
          box-sizing: border-box;
          .title{
            font-size: 18px;
          }
          .sub-title{
            font-size: 15px;
            .main{
              color: rgb(2, 103, 100);
            }
            .sub{
              color: #696969;
              &:before{
                content: " . ";
              }
            }
          }
          .time-detail{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            .green-tag{
              color: rgb(2, 103, 100);
              background-color: #f5f5f5;

            }
            .tag{
              display: inline-block;
              margin: 1px;
              padding: 2px;
              &.light{
                background-color: #f5f5f5;
              }
              &.dark{
              background-color:#d7d7d7
            }
              &.free{
                color:rgb(2, 103, 100)
              }
            }
          }
        }
      }



      .gift-card{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        border-top: 0.5px solid #d7d7d7;
        .gift-image{
          max-width: 450px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .gift-body{
          max-width: 450px;
          margin: 0 10px;
          text-align: center;
          font-size: 16px;
          .branded{
          font-weight: bold;
          color:#a5a5a5;
          }
          .giftCard{
            color:#996515
          }
          .logo-bottom{
            img{
              width: 180px;
            }
          }
          .quote{
            .quote-btn{
              display: inline-block;
              font-size: 20px;
              color:white;
              background-color: black ;
              border-radius: 30px;
            }
          }
        }
      }

      .ready{
        text-align: center;
        align-items: center;
        border-top: 0.5px solid #d7d7d7;
        .title-ready{
          font-size: 25px;
        }
        .title-ready-sub{
          font-size: 18px;
          color: #a5a5a5;
        }
        .bottom-menu{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }




  .delivery{
    text-align: center;
    width: 180px;
    .title{
      color:#996515;
      text-align: center;
    }
    .address{
      display: inline-block;
      background-color: #996515;
      border-radius: 10px;
      color:white;
      padding: 0 10px;
    }
  }
  .btn-change{
    background-color: black;
    color:white;
    margin: 0 20px;
  }
  .type-select{
    display: flex;
    position: relative;
    .marker{
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #026764;
      -webkit-transition: width .2s,-webkit-transform .4s;
      transition: width .2s,-webkit-transform .4s;
      transition: transform .4s,width .2s;
      transition: transform .4s,width .2s,-webkit-transform .4s;
    }
    .marker-delivery{
      width: 59px;
      transform: translateX(0px);
    }
    .marker-pickup{
      width: 47px;
      transform: translateX(90px);
    }
    .type-item{
      display: inline-block;
    cursor: pointer;
    }
    .sep{
      color:#a5a5a5;
    }
  }
  .divider{
    display: inline-block;
    height: 30px;
    width: 2px;
    margin: 0 10px;
    background-color: #d7d7d7;
  }
  .catering{
    color:#696969
  }

}


@media only screen and (max-width: 600px) {
  .type-select{
    display: none !important;
  }
.carousel-box{
  display: block !important;
}
  .gift-card{
    flex-wrap: wrap !important;
  }
}





