
  .slideShow{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 430px;
    width: 100%;
    z-index: 0;
    top: 80px;
    background-color: rgb(255, 195, 171);
    .bg-slider{
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .slideShow-text{
      position: relative;
      flex-grow: 0;
      width: 90%;
      flex-basis: 90%;
      .slideShow-title{
        color:black;
        font-size: 18px;
        height: 300px;
        position: relative;
        .use-button{
          position: absolute;
          bottom: 0;
          display: inline-block;
          background-color: #282828;
          border-radius: 30px;
          font-size: 18px;
          color:white;
          padding: 12px;
          .use-button-title{
            background-color: rgb(2, 103, 100);
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
      .slideShow-dot{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;

      }
    }
  }

